
.image-upload{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.image-upload form{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin: auto;
    width: 355px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
    padding: 10px;
}

.lower-btn button{
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    border: none;
    background-color: rgb(196, 193, 193);
}